@font-face {
    font-family: 'Cinzel Decorative';
    src: local('Cinzel Decorative'), local('CinzelDecorative-Regular'), url('cinzeldecorative.woff2') format('woff2'), url('cinzeldecorative.woff') format('woff'), url('cinzeldecorative.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Cinzel Decorative';
    src: local('Cinzel Decorative Bold'), local('CinzelDecorative-Bold'), url('cinzeldecorativebold.woff2') format('woff2'), url('cinzeldecorativebold.woff') format('woff'), url('cinzeldecorativebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Cinzel Decorative';
    src: local('Cinzel Decorative Black'), local('CinzelDecorative-Black'), url('cinzeldecorativeblack.woff2') format('woff2'), url('cinzeldecorativeblack.woff') format('woff'), url('cinzeldecorativeblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
